body {
  background-color: #e4e4e4;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  align-items: center;
  margin: 7px;
  margin-bottom: 1em;
}

h1 {
  margin: 0;
  margin-left: 12px;
  font-family: sans-serif;
}

img.header-icon {
  width: 50px;
  height: 55px;
}

h2, h3, h4, p, ul {
  margin: 0.7em 0;
}

section {
  display: flex;
  min-height: 327px;
}

a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;;
}
a:active, a:visited {
  color: blue;
}


.quest-tree {
  width: 100%;
  margin: 7px;
  padding: 3px 7px 3px 0;
  background-color: #fff;
}

.jstree-anchor > .jstree-themeicon { /* the icon that precedes quest names */
  background-image: none;
  background-color: black;
  border-radius: 50%;
  
  vertical-align: middle;
  margin-right: 4px;
  margin-bottom: 2px;

  height: 7px !important;
  width: 7px !important;
}

.jstree-anchor { /* element containing quest name */
  vertical-align: middle;
}

.Novice {
  color: green !important;
}
.Novice i {
  background-color: green !important;
}
.Intermediate {
  color: #01b6c6 !important;
}
.Intermediate i {
  background-color: #01b6c6 !important;
}
.Experienced {
  color: #db8300 !important;
}
.Experienced i {
  background-color: #db8300 !important;
}
.Master {
  color: red !important;
  font-weight: bold;
}
.Master i {
  background-color: red !important;
}
.Grandmaster {
  color: #5d0be2 !important;
  font-weight: bolder;
}
.Grandmaster i {
  background-color: #5d0be2 !important;
}
.Special {
  font-style: italic;
}


.bold {
  font-weight: bold;
  padding-right: 3pt;
}

.quest-info {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 7px;
  padding: 2px 10px;
  background-color: #ffffdf;
}
.quest-info .prompt {
  text-align: center;
  width: 100%;
  font-weight: normal;
  font-style: italic;
}
.quest-info table td {
  padding: 7px 0;
  vertical-align: top;
}
.quest-info table td * {
  margin: 0;
}
.quest-info table td.table-label {
  padding-right: 6px;
}
.quest-info table td ul {
  padding-left: 10px;
  list-style-position: inside;
}
.quest-info table td span.table-label {
  font-weight: bold;
  font-size: 1em;
}

.fixed{
  position: fixed;
  top: 0px;
  padding-right: 15px;
}
.justify-end {
  justify-content: flex-end;
}